<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--FileSystem Library Intigration-->
    <add key="BaseFolder" value="PwcVaultDev/" />
    <add key="WebDavPath" value="\\10.10.87.90@7790\\PwcVault/" />
    <!--static Member, need to refresh IIS on value Change-->
    <add key="HadoopURL" value="http://ubuntu.arc.com:50070/webhdfs/v1/" />
    <add key="HadoopCopyURL" value="http://ubuntu.arc.com:7790/" />
    <add key="UploadBufferSize" value="25165824" />
    <add key="DownloadBufferSize" value="65536" />
    <add key="RestDownloadBufferSize" value="22528" />
    <add key="RestUploadBufferSize" value="25165824" />
    <add key="SaveTempBufferSize" value="6291456" />
    <add key="AppServerTempDir" value="C:\\tmp/" />
    <!--static Member, need to refresh IIS on value Change-->
    <add key="FileSystemTimeOut" value="6000000" />
    <!--in milisecs. 100 mins.-->
    <add key="IsUsingWebClient" value="false" />
    <!--FileSystem Library Intigration-->
    <add key="EnabledFileSystem" value="2" />
    <!-- Manages the Implimentation for proper type of File system integration-->
    <!--NoImplementation - 0  Hadoop - 1, AWS_S3 - 2, NetworkVault - 3,WebDav - 4 ETC - 5 -->
    <add key="StorageInfo" value="AWS_S3=6;EC2_NAS=7;Hadoop=5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>